In [6]:
import pandas as pd

cols_headers = ["Question", "Answer", "Option-1", "Option-2", "Option-3", "Option-4", "Option-5"]
pd.read_csv('train.tsv', names=cols_headers, sep='\t')

,Question,Answer,Option-1,Option-2,Option-3,Option-4,Option-5
0,"""the banker ' s gain of a certain sum due 3 y...",0,0.258065,0.193548,0.322581,0.225806,NaN
1,"""average age of students of an adult school i...",3,0.625000,0.062500,0.187500,0.125000,NaN
2,"""sophia finished 2 / 3 of a book. she calcula...",1,0.119085,0.140406,0.456058,0.138326,0.146126
3,"""120 is what percent of 50 ?"",",1,0.006274,0.301129,0.062735,0.002509,0.627353
4,"""there are 10 girls and 20 boys in a classroo...",0,0.066667,0.066667,0.066667,0.666667,0.133333
...,...,...,...,...,...,...,...
30259,"""the speed of a car is 60 km in the first hou...",0,0.125000,0.180556,0.208333,0.236111,0.250000
30260,"""how many figures are required for numbering ...",2,0.208521,0.220148,0.221296,0.211505,0.138530
30261,"""in how many ways 2 boys and 2 girls can be s...",1,0.155556,0.177778,0.200000,0.222222,0.244444
30262,"""for what value of x,is | x \u2013 3 | + | x ...",4,0.000000,0.250000,0.250000,0.333333,0.166667
30263,"""the ratio of number of boys and girls in a s...",3,0.138889,0.166667,0.194444,0.222222,0.277778